[submodule "datatype"]
	path = datatype
	url = git@github.com:Gannon44/mc-vectorizer.git
[submodule "diffusion/voxel-diffusion-minecraft"]
	path = diffusion/voxel-diffusion-minecraft
	url = https://github.com/Xeygy/voxel-diffusion-minecraft.git
[submodule "models/XFRMs"]
	path = models/XFRMs
	url = https://github.com/davidh167/DifForge-XFMR.git