amulet-core==1.9.27
amulet-leveldb==1.0.2
amulet-map-editor==0.10.35
amulet-nbt==2.1.3
cffi==1.17.1
charset-normalizer==3.4.1
cloudscraper==1.2.71
idna==3.10
jujubundlelib==0.5.7
libcharmstore==0.0.9
litemapy==0.10.0b0
lz4==4.4.3
macaroonbakery==1.3.4
minecraft-resource-pack==1.4.6
mutf8==1.0.6
nbtlib==2.0.4
numpy==1.26.4
packaging==24.2
path==17.1.0
path.py==12.5.0
platformdirs==3.11.0
portalocker==2.10.1
protobuf==5.29.3
pycparser==2.22
pymacaroons==0.13.0
PyMCTranslate==1.2.30
PyNaCl==1.5.0
PyOpenGL==3.1.9
pyparsing==3.2.1
pyRFC3339==1.1
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
theblues==0.5.2a
wxPython==4.2.2
